{% extends 'layout.html' %}

{% block title %} Connexion {% endblock %}

{% block content %}
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {% include 'partials/aside.html' %}
                </div>
                <div class="col-md-9">

                    <div class="card">
                        <div class="card-header">
                            <h3>Mon Compte</h3>
                        </div>
                        <div class="card-body">
                            <h3>Informations personnelles</h3>
                            <hr>
                            <h4>Prénom : </h4>
                            <p>{{ user.first_name }}</p>
                            <h4>Nom : </h4>
                            <p>{{ user.last_name }}</p>
                            <h4>Email : </h4>
                            <p>{{ user.email }}</p>
                            <a href="{% url 'profile_update' %}" class="btn btn-dark btn-lg">Modifier Mon profile</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}