{% extends "layout.html" %}

{% block title %} Book store {% endblock %}

{% block content %}

    <div class="container py-5">
        <div class="row">
            <div class="col-lg-8">
                {% if orders.count == 0 %}
                <h2>Votre panier est vide</h2>
                <a href="{% url 'product_list' %}" class="btn btn-dark">Retour à la liste des produits</a>
                {% else %}
                <h2>Liste des commandes </h2>
                <h5>Nombre de commandes : {{ orders.count }}</h5>
                <hr>
                <p>Supprimer toutes les commandes :
                    <a href="{% url 'cart_delete' %}" class="btn btn-danger">Supprimer</a>
                </p>

                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Produit</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prix</th>
                         <th scope="col">Quantité</th>
                        <th scope="col">Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                    <form method="POST" action="{% url 'update-quantity' %}">
                    {% csrf_token %}
                        {{ forms.management_form }}
                        {% for form in forms %}
                    <tr>
                        <td><img src="{{ form.instance.product.image_url }}" alt="{{ form.instance.product.name }}" width="60" height="60"></td>
                        <td>{{ form.instance.product.name }}</td>
                        <td>{{ form.instance.product.price }}</td>
                        <td>{{ form.quantity }}</td>
                        <td>{{ form.delete }} Supprimer</td>
                    </tr>
                        {% endfor %}
                        <button type="submit" class="btn btn-success mb-2">Mettre à jour les quantités </button>
                    </form>
                    </tbody>
                </table>
                {% endif %}
            </div>
            <div class="col-lg-4">
                <h2>Montant total</h2>
                <hr>
                <p>Nombre de produits : {{ orders.count }}</p>
                <p>Montant total : {{ orders.total }}</p>
                <hr>
                <form action="{% url 'create-checkout-session' %}">
                    <button type="submit" class="btn btn-success">Procéder au paiement</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}